<div class="container" ng-controller="PointDashboardController">
	
	<div class="row" style="margin: 50px 20px 20px 50px;">
		<div class="col-sm-3">
			<h6>İşletme Bilgileriniz</h6>
			<div class="row wd-panel">
				<div class="wd-point-image">
					<h3>{{point.name}}</h3>
    				<img ng-src="{{point.image}}">
    				<div>
    					<span>{{point.address.addressDetail}} {{point.address.province}}</span><br/>
    					<span>{{point.address.city}}</span><br/>
    					<span class="wd-workinghours-header">Çalışma Saatleri</span><br/>
    					<span>Hafta içi: </span><span>{{point.workingHours.weekdaysOpen}}</span> - <span>{{point.workingHours.weekdaysClose}}</span><br/>
    					<span>Cumartesi: </span><span>{{point.workingHours.saturdaysOpen}}</span> - <span>{{point.workingHours.saturdaysClose}}</span><br/>
    					<span>Pazar: </span><span>{{point.workingHours.sundaysOpen}}</span> - <span>{{point.workingHours.sundaysClose}}</span><br/>
    				</div>
    				<div>
						<button class="ld-button-primary" ng-click="onPointUpdateModalOpen()">Güncelle</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<h6>Günlük Hesap Özeti</h6>
			<div class="wd-panel">
				<h1>{{point.name}}</h1>
				<transfer-list list="fsdhfbsdljf"></transfer-list>
			</div>

		</div>
		<div class="col-sm-3">
			<h6>Hızlı İşlem Menüsü</h6>
			<div class="wd-panel">
				<div class="wd-op-button">
					<button class="ld-button-primary ld-button-large" ng-click="onCreateTransferModalOpen()">Yeni Transfer Oluşturma</button>
				</div>
				<div class="wd-op-button">
					<button class="ld-button-primary ld-button-large" ng-click="onTransmissionModalOpen()">Transfer Teslimi</button>
				</div>
				<div class="wd-op-button">
					<button class="ld-button-primary ld-button-large" ng-click="onRefundModalOpen()">Transfer İade</button>
				</div>
				
			</div>
		</div>
	</div>
	<pointinfo-update-modal show-modal="updatePointInfoModalShown" point-id="Id" on-modal-closed="GetPointInfo"></pointinfo-update-modal>
	<transfer-create-modal show-modal="transferCreateModalShown"
								title="Yeni Transfer Oluşturma"
								on-modal-closed="GetPointTransferSummary"
								></transfer-create-modal>
	<transmission-refund-modal show-modal="transmissionModalShown"
								title="Transfer Teslimi"
								header-level-one="Transfer Kodu"
								header-level-two="Alıcı Bilgileri"
								header-level-three="Transfer Teslimi Tamamla"
								></transmission-refund-modal>
	<transmission-refund-modal show-modal="refundModalShown"
								title="Transfer İade"
								header-level-one="Transfer İade Kodu"
								header-level-two="Gönderen Bilgileri"
								header-level-three="Transfer İade Tamamla"
								></transmission-refund-modal>
</div>
